body {
  background-color: lavender;
}

.nav {
  padding: 1rem;
  background-color: cadetblue;
}

.nav-icons {
}

.open-nav-icon {
  border: none;
  font-size: 2rem;
  color: aliceblue;
  cursor: pointer;
  background-color: transparent;
}

.menu {
  color: purple;
  font-size: 1.5rem;
  display: none;
}

.show-menu {
  display: block;
}
